<%= form_for(@dairy) do |f| %>
  <% if @dairy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dairy.errors.count, "error") %> prohibited this dairy from being saved:</h2>

      <ul>
      <% @dairy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :exercise_id %><br>
    <%= f.text_field :exercise_id %>
  </div>
  <div class="field">
    <%= f.label :attempts %><br>
    <%= f.number_field :attempts %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :when %><br>
    <%= f.date_select :when %>
  </div>
  <div class="field">
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
