<!DOCTYPE html>
<html>
<head>
  <title>Sport</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>
<div class="container-fluid">

<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <h3>Добро пожаловать <%=@user.login %> </h3>
        <ul class="nav nav-sidebar">
            <li class="active"><%=link_to 'Сегодня',lk_today_url %></a></li>
            <li><a href="#">План</a></li>
            <li><a href="#">Прогресс</a></li>
            <li><a href="#">История</a></li>
            <li><a href="#">Календарь</a></li>
        </ul>
    </div>
    <div id="ex_list" class="col-md-9 col-md-push-3" >
		<%= yield %>
	</div>
			
</div>
</div>

</body>
</html>

